<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h3>Dashboard Content Area</h3>
  <div>
      Grunt me more and more!!!
  </div>
</div>