<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>deployments</h1>

<table data-bind="ojComponent: {component: 'ojTable',
            data: dataSource,
            columns: [
                {headerText: 'id', field:'user_resource_id'},
                {headerText: 'name', field:'name'},
                {headerText: 'date', field:'creation_date'},
                {headerText: 'version', field:'version'},
            ]
        }">
</table>